<footer>
    <h2>&copy; Mongo Music</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Discover</a></li>
            <li><a href="/songs/new">Add a Song</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </nav>
</footer>