
<header>
    <!-- <h1>Mongo Music</h1> -->
    <nav >
        <ul id="discovernav">
            <li><img class="logo" src="/assets/logo.png"></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/songs">Discover</a></li>
        </ul>
    </nav>
    <div class="headerline"></div>
</header>
