<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Mongo Music`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
            <h2 class="title">About Us</h2>

        <section class="content">
            <p>Welcome to Mongo Music, the ultimate online destination for music lovers! We are a website designed to provide you with a comprehensive music storage and lookup platform, allowing you to store your favorite tunes and discover new ones all in one convenient location.</p>
            <p>At Mongo Music, we believe that music is a universal language that connects people from all walks of life. Whether you're a die-hard music enthusiast or a casual listener, we have something for everyone. Our easy-to-use platform offers a wide range of features that are designed to enhance your music listening experience.</p>
            <p>At Mongo Music, we're committed to providing you with the best possible music experience. Our platform is constantly evolving, and we're always looking for new ways to enhance your music listening experience. So whether you're looking to discover new music, store your personal collection, or create custom playlists, we have everything you need to take your music listening experience to the next level.</p>
            <p>Thank you for choosing Mongo Music, and happy listening!</p>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>