/* ======= GENERAL ======== */
body {
    background: rgb(202, 251, 255)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>img {
    width: 50%;
}

.container>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-top: -1%;
    color: #c2c72d;
    text-shadow: 1px 1px #f2cd99;
    letter-spacing: 2px;
}


/* ======= CAROUSEL SECTION ======== */
.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#carousel-images {
    width: 80%;
    background: #5e86cb;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px #f2cd99;
    transition: all 0.5s ease;
}

#carousel-images:hover {
    transform: scale(1.08);
}

#carousel-images figure {
    width: 100%;
    border-radius: 10px;
    display: none;
}

#carousel-images figure:first-of-type {
    display: block;
}

.carousel-button {
    align-self: center;
    background: #2670e6;
    color: #888;
    padding: 10px;
    border-radius: 25%;
    text-align: center;
    box-shadow: 1px 1px #fa8d8e;
}

.carousel-button:hover {
    cursor: pointer;
    background: #edef5c;
    box-shadow: 1px 1px #f2cd99;
    color: white;
}