div {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin: 4vh auto;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.song-photo {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.song-name {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.featured {
    background-color: #ffd700;
}

/* Style Action Buttons */
.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn a {
    color: #fff;
}

/* Reviews Section */

.review-section {
    background-color: rgb(28, 28, 28);
    display: block;
    padding: 10px;
    overflow-y: scroll;
    border: 2px double grey;
    height: 10vh;
    margin-top: 20px;
}

.reviews {
    border: 2px solid rgb(207, 207, 207);
    padding: 10px 5px;
    margin-top: 2px;
}

.review-title {
    font-size: 1.3rem;
}

.review-section h4, h3, p {
    font-size: 15px;
}


.grey{
    color: grey;
}

@media (max-width: 600px) and (min-width: 390px) {
    .btn{
        /* border: 2px solid red; */
        padding: 5px;
        width: 20vw;
    }

    .btn a {
        font-size: 14px;
    }
}